.container {
    background-image: url("../../public/herobackground.png");
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the background image */
    height: 100vh;
}
