@font-face {
    font-family: 'Poppins';
    src: url('../../public/fonts/Poppins-Bold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Poppins-Light';
    src: url('../../public/fonts/Poppins-Light.ttf') format('truetype');
  }

  .googlebutton {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc; /* Set border color to gray */
    border-radius: 8px;
    padding: 5px 30px;
    font-family: 'Poppins';
    background-color: white;
    width: 190px;
    margin-right: 15px;
  }
  
  .googlebutton:hover {
    border-color: #666; /* Darken border color on hover if desired */
  }

  .lineWithText {
    text-align: center;
    border-bottom: 1px solid #ccc;
    line-height: 0.1em; /* Ensures the text is aligned in the middle of the line */
    margin: 20px 0; 
    color: #969AB8;
    font-family: "Poppins";
    font-size: 12px;
    width: 400px;
  }
  
  .lineWithText span {
    background-color: white; /* This ensures the text remains on top of the line */
    padding: 0 10px; /* Adds padding around the text */
  }
  
  input {
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 5px;
    color: #969AB8;
    font-family: 'Poppins-Light';
    width: 384px;
  }
  
  input:focus {
    outline: none;
    border-color: #66afe9;
  }

  .loginbutton {
    background-color: #0062FF;
    border-radius: 8px;
    width: 400px;
    height: 45px;
    color: white;
    font-family: "Poppins";
    border: 1px solid transparent;
  }
  .login {
    font-family: "Poppins";
  }
  .buttonContainer {
    display: flex;
    margin-top: 20px; /* Add margin between the buttons */
  }